<div
  (mouseover)="setVisible()"
  (mouseleave)="unsetVisible()"
  class="planet-container"
  *ngIf="planet.name !== 'unknown' && planet.diameter !== '0vw'"
>
  <div
    class="planet"
    [ngStyle]="{
      width: planet.newDiameter,
      height: planet.newDiameter
    }"
  >
    <div class="planet-decoration">
      <div
        class="planet-water-surface"
        [ngStyle]="{
          height: planet.surface_water
        }"
      ></div>
      <div
        *ngFor="let terrain of planet.terrain"
        [ngStyle]="{
          height: getTerrainHeight(),
          backgroundColor:
            terrainColors[terrain] === undefined
              ? terrainColors.default
              : terrainColors[terrain]
        }"
      ></div>
    </div>
  </div>
  <div class="planet-info" *ngIf="isVisible">
    <p class="planet-name">
      {{ planet.name }}
    </p>
    <p><b>Rotation period:</b> {{ planet.rotation_period }}</p>
    <p><b>Orbital period:</b> {{ planet.orbital_period }}</p>
    <p><b>Diameter:</b> {{ planet.diameter }}</p>
    <p><b>Climate:</b> {{ planet.climate }}</p>
    <p><b>Gravity:</b> {{ planet.gravity }}</p>
    <p><b>Terrain:</b> {{ planet.terrain }}</p>
    <p><b>Surface water:</b> {{ planet.surface_water }}</p>
    <p><b>Population:</b> {{ planet.population }}</p>
  </div>
</div>
