<div *ngFor="let planet of postsData">
  <div
    class="planet-container"
    *ngIf="planet.name !== 'unknown' && planet.diameter !== '0vw'"
  >
    <div
      class="planet"
      [ngStyle]="{
        width: planet.newDiameter,
        height: planet.newDiameter
      }"
    ></div>
    <div class="planet-info">
      <p class="planet-name">
        {{ planet.name }}
      </p>
      <p><b>Rotation period:</b> {{ planet.rotation_period }}</p>
      <p><b>Orbital period:</b> {{ planet.orbital_period }}</p>
      <p><b>Diameter:</b> {{ planet.diameter }}</p>
      <p><b>Climate:</b> {{ planet.climate }}</p>
      <p><b>Gravity:</b> {{ planet.gravity }}</p>
      <p><b>Terrain:</b> {{ planet.terrain }}</p>
      <p><b>Surface water:</b> {{ planet.surface_water }}</p>
      <p><b>Population:</b> {{ planet.population }}</p>
    </div>
  </div>
</div>
